th {
  text-align: center;
}

td {
  text-align: center;
}

footer {
  text-align: center;
}

form {
  max-width: 100%;
}

#map{
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  pointer-events: none;
  touch-action: none;
}

h1, h2, #dropdown_container{
  text-align: center;
}

h3{
  text-align: center;
}

body{
  padding-top: 50px;
  background-color: #f9f9f9;
}

#submit-button {
  text-align: center;
}

#World-Bank{
  text-align: center;
}

/*-----FOOTER------*/

footer {
  font-size: 1em;
  text-align: center;
  clear: both;
  padding: 10px;
  color: #999;
}
  
.social-icon {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.social-icon:hover{
  -moz-transition:-moz-transform 0.5s ease-in; 
  -webkit-transition:-webkit-transform 0.5s ease-in; 
  -o-transition:-o-transform 0.5s ease-in;
  -moz-transform:scale(1.5); 
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
}

.usd::before {
  content: '$';
}

.jumbotron{
  margin-top: 20px;
  text-align: center;
}

.jumbotron .btn {
  margin-bottom: 10px;
}

#payment_container{
  font-size: 2em;
  text-align: center;
}